@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<style>
    body {
        align-content: center;
        background-color: #ccd9cf;
    }
    </style>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
